stages:
  - docker
  - build
  - deploy

.docker:template: &docker
  stage: docker
  image: docker:git
  services:
    - name: docker:dind
  script:
    - export PLATFORM=`echo $CI_JOB_NAME | cut -d':' -f2`
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -f docker/$PLATFORM -t registry.gitlab.com/fzwoch/obs-gstreamer/$PLATFORM .
    - docker push registry.gitlab.com/fzwoch/obs-gstreamer/$PLATFORM
  only:
    refs:
      - master
    changes:
      - docker/$PLATFORM

docker:linux:
  <<: *docker

docker:macos:
  <<: *docker

docker:mingw:
  <<: *docker

linux:
  stage: build
  image: registry.gitlab.com/fzwoch/obs-gstreamer/linux
  script:
    - export LD_FLAGS=-static-libgcc

    - meson --buildtype release linux
    - ninja -C linux
  artifacts:
    paths:
      - linux/gstreamer.so
    expire_in: 1 day

macos:
  stage: build
  image: registry.gitlab.com/fzwoch/obs-gstreamer/macos
  script:
    - echo "[binaries]" >> cross.txt
    - echo "c = 'x86_64-apple-darwin18-cc'" >> cross.txt
    - echo "cpp = 'x86_64-apple-darwin18-c++'" >> cross.txt
    - echo "ar = 'x86_64-apple-darwin18-ar'" >> cross.txt
    - echo "strip = 'x86_64-apple-darwin18-strip'" >> cross.txt
    - echo "pkgconfig = 'x86_64-apple-darwin18-pkg-config'" >> cross.txt

    - echo "[host_machine]" >> cross.txt
    - echo "system = 'darwin'" >> cross.txt
    - echo "cpu_family = 'x86_64'" >> cross.txt
    - echo "cpu = 'x86_64'" >> cross.txt
    - echo "endian = 'little'" >> cross.txt

    - export C_INCLUDE_PATH=/
    - export LIBRARY_PATH=/Applications/OBS.app/Contents/Resources/bin

    - meson --buildtype release --cross-file cross.txt macos
    - ninja -C macos

    - mv macos/gstreamer.dylib macos/gstreamer.so
  artifacts:
    paths:
      - macos/gstreamer.so
    expire_in: 1 day

windows:
  stage: build
  image: registry.gitlab.com/fzwoch/obs-gstreamer/mingw
  script:
    - export PKG_CONFIG_PATH=/c/gstreamer/1.0/x86_64/lib/pkgconfig/

    - echo "[binaries]" >> cross.txt
    - echo "c = 'x86_64-w64-mingw32-gcc'" >> cross.txt
    - echo "cpp = 'x86_64-w64-mingw32-g++'" >> cross.txt
    - echo "ar = 'x86_64-w64-mingw32-ar'" >> cross.txt
    - echo "strip = 'x86_64-w64-mingw32-strip'" >> cross.txt
    - echo "pkgconfig = 'x86_64-w64-mingw32-pkg-config'" >> cross.txt
    - echo "windres = 'x86_64-w64-mingw32-windres'" >> cross.txt

    - echo "[properties]" >> cross.txt
    - echo "c_link_args = ['-static-libgcc', '-L/bin/64bit']" >> cross.txt

    - echo "[host_machine]" >> cross.txt
    - echo "system = 'windows'" >> cross.txt
    - echo "cpu_family = 'x86_64'" >> cross.txt
    - echo "cpu = 'x86_64'" >> cross.txt
    - echo "endian = 'little'" >> cross.txt

    - export C_INCLUDE_PATH=/

    - meson --buildtype release --cross-file cross.txt windows
    - ninja -C windows
  artifacts:
    paths:
      - windows/gstreamer.dll
    expire_in: 1 day

obs-gstreamer:
  stage: deploy
  image: debian:buster
  variables:
    GIT_STRATEGY: none
  script:
    - echo Done
  artifacts:
    name: obs-gstreamer
    paths:
      - linux/gstreamer.so
      - macos/gstreamer.so
      - windows/gstreamer.dll
